body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }
main {
flex: 1 0 auto;
}

.token-title {
font-weight:700
}

.workflow {
margin-bottom:75px;
}

.section {
margin-bottom: 1rem;
}

.hidden {
display: none;
}

.select-wrapper+label {
top: 0px;
font-size: 1rem;
}

.page-footer {
position: fixed;
z-index: 1001;
bottom: 0px;
width: 100%;
display: flex;
align-items: center;
min-height: 50px;
padding-top: 0;
color: var(--text-secondary-color);
}

.page-footer .footer-copyright {
width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
display:none;
}

.no-scrollbar {
-ms-overflow-style: none;
scrollbar-width: none;
}

.note {
font-size: 0.8rem;
color: #a1a1a1;
}

.version {
font-size: 0.8rem;
}

pre.token, pre.xml, pre.setupinstruction-content {
white-space: break-spaces;
word-break: break-word;
}

pre {
color: #000000;
background-color: ghostwhite;
border: 1px solid silver;
padding: 10px 20px;
margin: 20px; 
}
.json-key {
color: brown;
}
.json-value {
color: navy;
}
.json-string {
color: olive;
}

.setupinstruction-title {
  font-size: 1rem;
  font-weight:500;
}

.response-type{
  border: 1pt solid #eee;
  text-align: center;
  padding-bottom: 0.5rem;
}

.response-type .title {
  background-color:#bbdefb;
  font-weight:500;
  padding: 0.5rem;
}

.response-type .description {
  padding:1rem;
}

textarea {
  height:300px !important;
  overflow-y: scroll !important;
}